    .one {
      display: inline;
      width: 15%;
      float: left;
      text-align: center;


    }

    button {
      text-decoration: none;
      padding: 10px;
    }

    .two {
      display: inline;
      width: 85%;
      float: left;    
    }

